*
{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    text-align: justify;
}

#page {
	min-height:100vh; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */
}

#content {
	flex-grow:3; /* 4 */
}

#footer{
	background-color: #3F3F3F;
	color:white;
	margin-top:30vh;
}

body{
    margin: 0;
    background-color: rgb(240,240,240);
}

header{
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

header p {
    padding: 0 10vw;
    margin-top: 100px;
}

h1{
    font-size: 3em;
    text-align: center;
    margin: 0px 30px;
}

h2{
    margin-top: 20px;
    font-size: 2em;
    text-align: left;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
    object-fit: cover;
    object-position: center;
}

.blur
{
    filter: blur(0.8vh) contrast(0.1) brightness(1.7);
}

.fade-in
{
    animation-name: fade-in;
    animation-duration: 5s;
}

.vertical-center{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.resizer{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.padding{
    padding: 90px 5vw;

}

/*menu css*/

.menu{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    -webkit-tap-highlight-color: transparent;
}

.menu:hover{
    transform: rotate(15deg);
    transition-duration: 500ms;
}

.menu nav {
    position: absolute;
    box-sizing: content-box;
    top: 0;
    left: 0;
    width: 30vh;
    height: 30vh;
    transform: translate(-50%, -50%) ;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    cursor: pointer;
    border: 1vh solid;
    border-color: rgba(0, 0, 0, 0.1);
    transition-duration: 100ms;
    animation-name: menu;
    animation-duration: 0.75s;
}

.menu:hover nav{
    width: 30vh;
    height: 30vh;
    border: 15vh solid;
    transform: translate(-50%, -50%);
}

.menu li {
    position: absolute;
    margin: 0;
    width: 15vh;
    height: 4vh;
    transform-origin: left;
}

/* 
Placement des éléments du menu 
left = cos(angle) * 15
top = sin(angle) * 15
*/

.menu li:nth-of-type(1) {
    transform: translate(0, -50%) rotate(0deg);
    left: 15vh;
    top: 0vh;
}
.menu li:nth-of-type(2) {
    transform: translate(0, -50%) rotate(10deg);
    left: 14.77vh;
    top: 2.6vh;
}
.menu li:nth-of-type(3) {
    transform: translate(0, -50%) rotate(20deg);
    left: 14.1vh;
    top: 5.13vh;
}
.menu li:nth-of-type(4) {
    transform: translate(0, -50%) rotate(30deg);
    left: 12.99vh;
    top: 7.5vh;
}

.menu li:nth-of-type(5) {
    transform: translate(0, -50%) rotate(40deg);
    left: 11.49vh;
    top: 9.64vh;
}

.menu li:nth-of-type(6) {
    transform: translate(0, -50%) rotate(50deg);
    left: 9.64vh;
    top: 11.49vh;
}

.menu li:nth-of-type(7) {
    transform: translate(0, -50%) rotate(60deg);
    left: 7.5vh;
    top: 12.99vh;
}

.menu li a {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%) scale(1);
    color: rgb(230, 230, 230);
    text-decoration: none;
    text-align: right;
    font-size: 2vh;
    padding: 0 3vh;
    box-sizing: border-box;
    transition-duration: 20ms;
}

.menu li:hover a{
    color: white;
    transform: translateY(-50%) scale(1.05);
}

.menu:hover ul::before {
    position: absolute;
    display: block;
    left: 50%;
    z-index: -1;
    cursor: default;
}

.menu ul {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 0;
    transform: scale(0.7);
    transition: 100ms all;
    opacity: 0;
}

.menu:hover ul {
    transform: scale(1);
    opacity: 1;
}

/*fin menu css*/
.hint {
    text-align: left;
}

.article{
    height: 500px;
    min-height: 500px;
    position: relative;
}

.carousel-full-width {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.carousel-full-width, .carousel-full-width .carousel-inner, .carousel-full-width .carousel-item, .carousel-full-width img {
    width: 100%;
    height: 100%;
}

.carousel-full-width img{
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.article .description{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    min-width: 500px;
    max-width: 800px;
    padding: 80px 100px;
    color: white;
}

.article .description *{
    margin-bottom: 20px;
}

.article h2{
    text-align: left;
}

.comparative_size{
    height: 95vh;
}

.footer_size{
    height: auto;


}

.button{
    display: block;
    color: white;
    background-color: rgb(20, 150, 255);
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    transition-duration: 0.2s;
    user-select: none;
    width: fit-content;
    text-align: center;
}

.button:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(20, 150, 255, 0.8);;
}

.button:active{
    padding-top: 16.5px;
    padding-bottom: 13.5px;
}

/*partie article*/
.pack{
    color: black;
    position: relative;
}

.pack .padding{
    display: flex;
}

.pack .padding img{
    display: block;
    height: auto;
    object-fit: cover;
}

.pack .padding div, .pack .padding img {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.black_background
{
    background-color: black;
    color: white;
}

.pack-reverse .padding img
{
    order: 0;
}

.pack-reverse .padding div
{
    order: 1;
}

/*fin part article*/

.modeling_soft
{
  background-color: rgb(220, 220, 220);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.modeling_soft_type_description{
    background-image: url('../images/modeling_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.modeling_soft img
{
    width: 100%;
    height: 100px;
    object-fit: contain;
    text-align: center;
}

.modeling_soft .soft_name
{
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
    text-align: left;
}

.modeling_soft .description
{
    text-align: justify;
}



/*tableau comparatif*/


.table {
	position: sticky;
    top: 50%;
}

.tableaucomparatif {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableaucomparatif th{

    vertical-align: center;
    text-align: center;
    height: 50px;
   
}

.tableaucomparatif td, .tableaucomparatif th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tableaucomparatif tr:nth-child(even) {
    background-color: #D3D3D3;
}

.tableaucomparatif tr:hover {
    background-color: WHITE;
}

.tableaucomparatif th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #696969;
    color: white;
}

.liens a {
    color: white;
    text-decoration: none;
    text-align:justify;
    font-size: 120%;
}

.liens a:hover{
    text-decoration: #D3D3D3 wavy underline;
    color: #D3D3D3;
}

.hautab{
    font-weight: bold;	
    vertical-align: center;
    text-align: center;
    background-color: #696969;
    color: white;
    font-size: 120%;
}

.etoile{
    color:#fabf07;	
}
/*.lienretour a
{
	color:white;
	text-decoration:none;
	
}
.lienretour a:hover{
	background-color:#D3D3D3;
	text-decoration: #D3D3D3 wavy underline;
}*/
/*fin tableau*/



/*fleche retour en haut*/
#retourtop {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

#retourtop img {
    width: 40px;
    transform: rotate(-40deg)
}

/*fin fleche retour en haut*/


.print-examples
{
    height: 800px;
}

.print-examples .made-with-printer
{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background: linear-gradient(transparent, black);
    padding: 200px 200px 80px 200px;
}

.made-with-printer .tag
{
    text-align: center;
    background-color: black;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
}

.made-with-printer h2
{
    text-align: center;
}

.made-with-printer .button
{
    margin: auto;
    width: 120px;
    text-align: center;
}


.printer-cards
{
    display: flex;
    flex-wrap: wrap;
}

.wrapper 
{
    display: flex;
    height: 300px;
    width: 550px;
    border-radius: 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    margin: 20px;
}

.wrapper img 
{
    border-radius: 7px;
    width: 250px;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}

.product-info 
{
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px;
    flex-grow: 1;
}

.product-text 
{
    width: 100%;
}

.product-text .name 
{
    font-weight: bold;
    font-size: 1.5em;
}

.product-text .name, .product-text .brand
{
    text-align: center;
    margin: 0;
}

.product-text .description
{
    margin: 20px 0px;
}

.product-price-btn {
    height: auto;
    width: 100%;
    margin-top: 17px;
    position: relative;
    display: flex;
}

.product-price-btn p {
    font-size: 2.2em;
    flex-grow: 1;
    height: 100%;
    margin: 0;
}

.product-price-btn .button {
    width: 130px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(150, 150, 150);
}

.colonne{
    column-count: 3;
    padding:5vh;
}

.aboutitre{
    padding-left:8vh;
}

.product-price-btn .button:hover {
    width: 130px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(170, 170, 170);

}

.comparer-creer {
    display: flex;
}

.comparer-creer-item {
    position: relative;
    width: 100%;
}

.comparer-creer-item .button {
    width: 150px;
}