*
{
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    margin: 0;
    background-color: rgb(240,240,240);
}

.resizer
{
    width: 100%;
    overflow: hidden;
}

.header_size
{
    height: 100vh;
}

.article_size
{
    height: 80vh;
}

.comparative_size
{
    height: 95vh;
}

.footer_size
{
    height: auto;
}


header
{
    
}

.article
{
    
}

#title
{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 40vh;
    font-size: 8vh;
    animation-name: title;
    animation-duration: 8s;
}

#subtitle
{
    width: 100%;
    text-align: center;
    margin-top: 2vh;
    font-size: 3vh;
    color: rgb(100,100,100);
    animation-name: subtitle;
    animation-duration: 10s;
}

footer p
{
    color: white;
    margin: 10px;
}