@keyframes title
{
    0% {
        opacity: 0%;
        transform: scale(2);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes subtitle
{
    0% {
        opacity: 0%;
        transform: scale(2);
    }
    50% {
        opacity: 0%;
        transform: translate(0vh, -2vh);
    }
    100% {
        opacity: 100%;
        transform: translate(0vh, 0vh);
    }
}

@keyframes menu
{
    0% {
        border-width: 1vh;
        border-color: #808080;
    }
    25% {
        border-width: 5vh;
        border-color: red;
    }
    50% {
        border-width: 1vh;
    }
    75% {
        border-width: 5vh;
        border-color: red;
    }
    100% {
        border-width: 1vh;
        border-color: #808080;
    }
}