@media screen and (min-width: 1200px) {

    #title
    {
        width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 40vh;
        font-size: 8vh;
        animation-name: title;
        animation-duration: 8s;
    }
  
    #subtitle
    {
        width: 100%;
        text-align: center;
        margin-top: 2vh;
        font-size: 3vh;
        color: rgb(100,100,100);
        animation-name: subtitle;
        animation-duration: 10s;
    }

    footer p
    {
        color: white;
        margin: 10px;
    }

    .softwares_container
    {
        display: flex;
        flex-wrap: wrap;
    }

    .modeling_soft
    {
        margin: 20px;
        padding: 25px 20px;
        border-radius: 5px;
        flex-basis: 400px;
    }

    .comparer-creer
    {
        flex-wrap: nowrap;
    }

    .comparer-creer-item
    {
        height: 600px;
    }

}