@media screen and (min-width: 1007px) {

    #title
    {
        width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 40vh;
        font-size: 8vh;
        animation-name: title;
        animation-duration: 8s;
    }
  
    #subtitle
    {
        width: 100%;
        text-align: center;
        margin-top: 2vh;
        font-size: 3vh;
        color: rgb(100,100,100);
        animation-name: subtitle;
        animation-duration: 10s;
    }

    footer p
    {
        color: white;
        margin: 10px;
    }

    .softwares_container
    {
        display: flex;
        flex-wrap: wrap;
    }

    .modeling_soft
    {
        margin: 20px;
        padding: 25px 20px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        flex-basis: 300px;
    }

    /*menu css*/

    .menu
    {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(90deg);
    }

    .menu:hover
    {
        transform: rotate(20deg);
        transition-duration: 500ms;
    }

    .menu nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 30vh;
        height: 30vh;
        transform: translate(-50%, -50%) ;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 100%;
        cursor: pointer;
        border: 1vh solid;
        border-color: rgba(0, 0, 0, 0.1);
        transition-duration: 100ms;
        animation-name: menu;
        animation-duration: 0.75s;
    }

    .menu:hover nav
    {
        border: 15vh solid;
        transform: translate(-50%, -50%);
    }

    .menu li {
        position: absolute;
        margin: 0;
        width: 15vh;
        height: 4vh;
        transform-origin: left;
    }

    .menu li:nth-of-type(1) {
        transform: translate(0, -50%) rotate(0deg);
        left: 15vh;
        top: 0vh;
    }
    .menu li:nth-of-type(2) {
        transform: translate(0, -50%) rotate(15deg);
        left: 14.48vh;
        top: 3.88vh;
    }
    .menu li:nth-of-type(3) {
        transform: translate(0, -50%) rotate(30deg);
        left: 12.99vh;
        top: 7.5vh;
    }
    .menu li:nth-of-type(4) {
        transform: translate(0, -50%) rotate(45deg);
        left: 10.61vh;
        top: 10.61vh;
    }

    .menu li a 
    {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%) scale(1);
        color: rgb(230, 230, 230);
        text-decoration: none;
        text-align: center;
        font-size: 2vh;
        transition-duration: 20ms;
    }

    .menu li:hover a
    {
        color: white;
        transform: translateY(-50%) scale(1.05);
    }
    
    .menu:hover ul::before {
        position: absolute;
        display: block;
        left: 50%;
        z-index: -1;
        cursor: default;
    }
    
    .menu ul {
        list-style: none;
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 0;
        margin: 0;
        transform: scale(0.7);
        transition: 100ms all;
        opacity: 0;
    }

    .menu:hover ul {
        transform: scale(1);
        opacity: 1;
    }
    
    .hint {
        text-align: left;
    }

}