@media screen and (min-width: 641px) and (max-width: 1007px) {

    #title
    {
        width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 40vh;
        font-size: 8vh;
        animation-name: title;
        animation-duration: 4s;
    }
    
    #subtitle
    {
        width: 100%;
        text-align: center;
        margin-top: 2vh;
        font-size: 3vh;
        color: rgb(100,100,100);
        animation-name: subtitle;
        animation-duration: 5s;
    }

    footer p
    {
        color: white;
        margin: 10px;
    }

    .softwares_container
    {
        display: flex;
        flex-wrap: wrap;
    }

    .modeling_soft
    {
        margin: 20px;
        padding: 25px 20px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        flex-basis: 300px;
    }
	
	
		
    /*menu*/

    .menu {
        display: none;
    }
    
}