@media screen and (max-width: 641px) {

    #title
    {
        width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 35vh;
        font-size: 12vw;
        animation-name: title;
        animation-duration: 4s;
    }
    
    #subtitle
    {
        width: 100%;
        text-align: center;
        margin-top: 2vh;
        font-size: 5vw;
        color: rgb(100,100,100);
        animation-name: subtitle;
        animation-duration: 5s;
    }

    footer p
    {
        color: white;
        margin: 10px;
        font-size: 3vw;
        text-align: center;
    }

    .modeling_soft
    {
        margin: 0px;
        padding: 25px 20px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        flex-basis: 300px;
    }
	
	
	

/*menu*/
.menu {
  position: relative;
  bottom:700px;
  left:155PX;
  width: 1.5em;
  height: 1.5em;
}



.menu li {
  width:5em;
}


.menu li:nth-of-type(1) {
  position: absolute;
  left: -1.2em;
  top: -3.33em;
}

.menu li:nth-of-type(2) {
  position: absolute;
  left: 1.5em;
  top: -2em;
}

.menu li:nth-of-type(3) {
  position: absolute;
  left: 2em;
  top: 0.4em;
}

.menu li:nth-of-type(4) {
  position: absolute;
  left: 0.5em;
  top: 2.8em;
}





}