
.table {
	position: sticky;
    top: 50%;
}

.tableaucomparatif {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableaucomparatif th{

    vertical-align: center;
    text-align: center;
    height: 50px;
   
}

.tableaucomparatif td, .tableaucomparatif th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tableaucomparatif tr:nth-child(even) {
    background-color: #D3D3D3;
}

.tableaucomparatif tr:hover {
    background-color: WHITE;
}

.tableaucomparatif th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #696969;
    color: white;
}

.liens a {
    color: black;
    text-decoration: none;
    text-align:justify;
    font-size: 110%;
}

.liens a:hover{
    color: #D3D3D3;
}

.hautab{
    font-weight: bold;	
    vertical-align: center;
    text-align: center;
    background-color: #696969;
    color: white;
    font-size: 120%;
}

.etoile{
    color:#fabf07;	
}